.indeed-button {
  display: none;
  position: absolute;
  background-color: #666;
  color: #fff;
  padding: 10px;
  z-index: 401;

  &:hover {
    background-color: #999;
    cursor: pointer;
  }
  &:before{
    font-family: "FontAwesome";
    content: "\f087\00a0\00a0";
  }
}

.indeed-button.visible {
  display: block;
}
