.indeed-button {
  display: none;
  position: absolute;
  background-color: scale-color($primary, $lightness: 50%);
  color: $secondary;
  padding: 10px;
  z-index: 401;

  &:before{
    font-family: "FontAwesome";
    content: "\f087\00a0\00a0";
  }

  &:hover {
    background-color: scale-color($primary, $lightness: 40%);
    cursor: pointer;
  }
}

.indeed-button.visible {
  display: block;
}
